@import url("https://use.typekit.net/jsu1pje.css");

:root {
	--black: #231f20;
	--white: #fff;

	--blue-100: #deebff;
	--blue-200: #81b2ff;
	--blue-300: #0064ff;

	--red-100: #fab4ac;
	--red-200: #fb9200;
	--red-300: #f44e3b;

	--yellow-100: #fff29d;
	--yellow-200: #fcda00;
	--yellow-300: #fcba03;

	--green-100: #d1ee7f;
	--green-200: #a4dd00;
	--green-300: #86b500;

	--font-base: monotalic, sans-serif;
	--font-narrow: monotalic-narrow, sans-serif;
	--font-wide: monotalic-wide, sans-serif;
}

body {
	background: var(--blue-100)
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC)
		repeat;
	background-blend-mode: overlay;
	font-family: var(--font-base);
	user-select: none;
}

/*  */

.panel {
	--border-size: 2px;
	--border-color: var(--red-100);
	--box-shadow-size: 2px;
	--box-shadow-color: var(--red-200);

	border: var(--border-size) solid var(--border-color);
	/* box-shadow: var(--box-shadow-size) var(--box-shadow-size) 0 0
    var(--box-shadow-color); */
	background: var(--white);

	padding: 1rem;
}

.panel.yellow {
	--border-color: var(--yellow-200);
	--box-shadow-color: var(--yellow-300);
}

.panel.blue {
	--border-color: var(--blue-200);
	--box-shadow-color: var(--blue-300);
}

.panel.red {
	--border-color: var(--red-200);
	--box-shadow-color: var(--red-300);
}

.panel.green {
	--border-color: var(--green-200);
	--box-shadow-color: var(--green-300);
}
