:root {
  --black: #231f20;
  --white: #fff;

  --blue: #0064ff;
  --light-blue: #81b2ff;
  --lighter-blue: #deebff;

  --red: #f44e3b;
  --orange: #fb9200;
  --lighter-red: #fab4ac;

  --yellow: #fcba03;
  --light-yellow: #fcda00;
  --lighter-yellow: #fff29d;

  --green: #86b500;
  --light-green: #a4dd00;
  --lighter-green: #d1ee7f;

  // TODO: implement spacing/sizing scale? 1080px, 360px, 120px, 40px... etc?
}

.body-bg {
  // http://www.patternify.com/
  background: var(--lighter-blue)
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC)
    repeat !important;
  background-blend-mode: overlay !important;
}

html {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  word-spacing: 1px;
  text-transform: lowercase;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  color: var(--black);
  @extend .body-bg;

  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--black);
}

h1 {
  font-size: 1rem;
}
