.border {
  --border-size: 2px;
  --border-color: var(--light-blue);
  --box-shadow-size: 2px;
  --box-shadow-color: var(--blue);
  border: var(--border-size) solid var(--border-color);
  box-shadow: var(--box-shadow-size) var(--box-shadow-size) 0 0
    var(--box-shadow-color);
  background: var(--white);

  &.yellow {
    --box-shadow-color: var(--orange);
    --border-color: var(--light-yellow);
  }
}
