.button {
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;

  --background-color: none;
  --border-top-left: var(--yellow);
  --border-bot-right: var(--lighter-yellow);

  background-color: var(--background-color);
  border: 2px solid var(--border-top-left);
  border-top: 2px solid var(--border-bot-right);
  border-left: 2px solid var(--border-bot-right);

  &:active {
    border: 2px solid var(--border-bot-right);
    border-top: 2px solid var(--border-top-left);
    border-left: 2px solid var(--border-top-left);
    transform: translate3d(2px, 2px, 0);
  }

  &.solid.yellow {
    --background-color: var(--light-yellow);
    color: var(--black);
  }

  &.solid.red {
    --background-color: var(--red);
    color: var(--white);
  }
}
