.info-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding: 1rem;

  &.mt {
    margin-top: calc(40px / 3);
  }

  &.mb {
    margin-bottom: calc(40px / 3);
  }

  > .data-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
