html,
body,
#__nuxt,
#__layout,
#__tino,
.wrap {
  height: 100%;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: calc(40px / 3);
}

.mw-canvas {
  width: 100%;
  max-width: 544px;
}
