:root {
  --black: #231f20;
  --white: #fff;
  --blue: #0064ff;
  --light-blue: #81b2ff;
  --lighter-blue: #deebff;
  // TODO: scale notes (nothing has been implemented with this...) 🤔
  // our main square is 1080px
  // our main division is 1/3, which equals 360px
  // 120px is 1/3rd of 360px
  // 40px is 1/3rd 120px
}

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  color: var(--black);
  // http://www.patternify.com/
  background: var(--lighter-blue)
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC)
    repeat;
  background-blend-mode: overlay;

  box-sizing: border-box;
  overflow-x: hidden; // for scaled canvas element(s)
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  border-radius: 0;
  // cursor: pointer;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  text-align: inherit;
  outline: none;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

button[disabled] {
  // cursor: not-allowed;
  opacity: 0.5;
}

.border {
  --border-size: 2px;
  --box-shadow-color: var(--blue);
  border: 2px solid var(--light-blue);
  box-shadow: var(--border-size) var(--border-size) 0 0 var(--box-shadow-color);
  background: var(--white);
}

.mw-canvas {
  max-width: 544px; // 540 = 1080/3 ... plus 4px for border
  margin: 0 auto;
}
