:root {
  --black: #231f20;
  --white: #fff;

  --blue: #0064ff;
  --light-blue: #81b2ff;
  --lighter-blue: #deebff;

  --red: #f44e3b;
  --orange: #fb9200;
  --lighter-red: #fab4ac;

  --yellow: #fcba03;
  --light-yellow: #fcda00;
  --lighter-yellow: #fff29d;

  --green: #86b500;
  --light-green: #a4dd00;
  --lighter-green: #d1ee7f;

  /* TODO: implement spacing/sizing scale? 1080px, 360px, 120px, 40px... etc? */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.fs-modal,
html {
  background: var(--lighter-blue)
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC)
    repeat !important;
  background-blend-mode: overlay !important;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
